/* Modal nyitási animáció */
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
  

@keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}

.modal-content {
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}
  
.fade-in {
    animation-name: fadeIn;
}
.fade-out {
    animation-name: fadeOut;
}
  