body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

.menu {
    background-color: #444;
    color: white;
    padding: 10px;
    text-align: center;
}

.menu-button {
    background-color: sandybrown;
    border: 1px solid #ddd;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
    border-radius: 10px;
    margin: 10px;
}

.menu-button:hover {
    background-color: #ff6347;
    color: #fff;
    border-radius: 25px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 1em;
}

label {
    display: inline-block; /* Hozzáadott sor */
    margin-top: 1em;
}

input[type="text"],
input[type="date"],
input[type="color"] {
    width: 100%;
    padding: 0.5em;
    margin-top: 0.5em;
}

input[type="radio"],
input[type="checkbox"] {
    display: inline-block;
    margin-right: 0.5em;
}

button {
    background-color: #333;
    color: #fff;
    padding: 0.5em 1em;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.error-message {
    color: #ff0000;
    font-size: 14px;
}
